<component name="ArtifactManager">
  <artifact type="war" name="springSecurityLearn:war">
    <output-path>$PROJECT_DIR$/target</output-path>
    <root id="archive" name="springSecurityLearn.war">
      <element id="artifact" artifact-name="springSecurityLearn:war exploded" />
    </root>
  </artifact>
</component>